/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero__title {
  color: #fffbf1;
  animation: glow 1s ease-in-out infinite alternate;
  font-size: 70px;
}

@keyframes glow {
  from {
    text-shadow:
      0 0 3px #fff,
      0 0 6px #fff,
      0 0 9px var(--ifm-color-primary),
      0 0 12px var(--ifm-color-primary),
      0 0 15px var(--ifm-color-primary),
      0 0 18px var(--ifm-color-primary),
      0 0 21px var(--ifm-color-primary);
  }
  to {
    text-shadow:
      0 0 6px #fff,
      0 0 12px #fff,
      0 0 18px var(--ifm-color-primary),
      0 0 24px var(--ifm-color-primary),
      0 0 30px var(--ifm-color-primary),
      0 0 36px var(--ifm-color-primary),
      0 0 42px var(--ifm-color-primary);
  }
}
