/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero__button {
  margin-left: 20px;
  margin-right: 20px;
}

.hero__container {
  padding-left: 80px;
  padding-right: 80px;
}

@media screen and (max-width: 966px) {
  .hero__container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.hero__title {
  color: #fffbf1;
  animation: glow 1s ease-in-out infinite alternate;
  font-size: 70px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.hero__subtitle {
  color: #fffbf1;
  font-size: 35px;
}

.hero__subtitle a {
  color: #fffbf1;
}

.hero__subsubtitle {
  color: #fffbf1;
  font-size: 25px;
}

.hero__subsubtitle a {
  color: #fffbf1;
}

@media screen and (max-width: 966px) {
  .hero__title {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .hero__subtitle {
    font-size: 30px;
  }

  .hero__subsubtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 1500px) {
  .onlyDesktop {
    display: none;
  }

  .container {
    max-width: 1400px;
  }
}

/* Here we comment various values of the glow */

@keyframes glow {
  from {
    text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px var(--ifm-color-primary),
      0 0 8px var(--ifm-color-primary),
      0 0 10px var(--ifm-color-primary),
      0 0 12px var(--ifm-color-primary),
      0 0 14px var(--ifm-color-primary);
  }
  /* to {
    text-shadow:
      0 0 3px #fff,
      0 0 6px #fff,
      0 0 9px var(--ifm-color-primary),
      0 0 12px var(--ifm-color-primary),
      0 0 15px var(--ifm-color-primary),
      0 0 18px var(--ifm-color-primary),
      0 0 21px var(--ifm-color-primary);
  } */
  to {
    text-shadow:
      0 0 4px #fff,
      0 0 8px #fff,
      0 0 12px var(--ifm-color-primary),
      0 0 16px var(--ifm-color-primary),
      0 0 20px var(--ifm-color-primary),
      0 0 24px var(--ifm-color-primary),
      0 0 28px var(--ifm-color-primary);
  }
  /* to {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 15px var(--ifm-color-primary),
      0 0 20px var(--ifm-color-primary),
      0 0 25px var(--ifm-color-primary),
      0 0 30px var(--ifm-color-primary),
      0 0 35px var(--ifm-color-primary);
  } */
}
