/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #27ae60;
  --ifm-color-primary-dark: #239d56;
  --ifm-color-primary-darker: #219452;
  --ifm-color-primary-darkest: #1b7a43;
  --ifm-color-primary-light: #2bbf6a;
  --ifm-color-primary-lighter: #2dc86e;
  --ifm-color-primary-lightest: #41d47f;
  --ifm-code-font-size: 95%;
  --ifm-footer-padding-vertical: 32px;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.button {
  margin: 10px;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1700px;
  }
}

/* To hide the "Create your own free forms" from the contact form */
div.hs-form__virality-link {
  opacity: 0.1;
}
